.container_daily_chart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    border-radius: 15px;
    border: 1px solid var(--dashboard-color);
    background-color: var(--dashboard-color);
    transition: .5s ease-in-out;
    
}

.container_daily_chart h3{
    min-width: 100%;
    margin-left: 10px;
    font-weight: 400;
    color: #FFE4E6;
}

/* .container_daily_chart:nth-child(2),
.container_daily_chart:nth-child(1) {
    margin-bottom: 20px;
} */

.daily_chart {
    height: 180px;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.data_daily_chart{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
}

.data_daily_chart ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
}

.data_daily_chart ul li{
    font-size: .8rem;
    font-weight: 300;
    color: white;
}

.data_daily_chart ul li span{
    font-size: 1rem;
    font-weight: 600;
    color: white;
}