.home_container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
}

.home_container .overlay {
    backdrop-filter: blur(15px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.home_container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.header ul li {
    margin: 0 20px;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
}

.header ul li:hover {
    color: #FECDD2;
}

.header ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #FECDD2;
    transition: width 0.2s ease-in-out;
}

.header ul li:hover::after {
    width: 100%;
}

.header h2 {
    position: relative;
    font-size: 30px;
}

.header h2::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 65%;
    height: 3px;
    background-color: #ffffff;
}

.header button {
    background: linear-gradient(90deg, #FECDD2, #FA7284);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 150px;
    border: 2px solid transparent;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.header button::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 25px;
    padding: 1px;
    background: linear-gradient(90deg, #FECDD2, #FA7284);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    transition: background 0.3s ease-in-out;
}

.header button:hover {
    background: linear-gradient(90deg, #fa72844f, #fecdd236);
    -webkit-text-fill-color: #FECDD2;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    color: #ffffff;
}

.content h1 {
    margin-bottom: 40px;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 1;
}

.content h1 span {
    position: relative;
    font-size: 7rem;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, #FECDD2, #FA7284);
    -webkit-background-clip: text;
    background-clip: text;
}
/* 
.content h1 span::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 70%;
    height: 10px;
    background-color: #FA7284;
    border-radius: 10px;
} */

.content p {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    max-width: 600px;
    margin-bottom: 40px;
}

.content button {
    background: linear-gradient(140deg, #FECDD2, #BD133B, #fa7284);
    margin-top: 30px;
    height: 45px;
    width: 270px;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;

    font-size: 15px;
    box-shadow: 0 0px 100px #FECDD2,
        0 0px 20px #fecdd28e;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.content button svg {
    margin-left: 5px;
}

.content button:hover {
    transform: scale(1.03);
    box-shadow: 0 0px 150px #FECDD2,
        0 0px 20px #fecdd2da;
}

.ref {
    color: #FECDD2;
    border: 1px solid #FECDD2;
    padding-right: 10px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 300;
    margin: 40px 0;
}

.ref span {
    border-radius: 25px;
    padding: 0 10px;
    color: black;
    background-color: #FECDD2;
}